PORT=5000
CLIENT_ORIGIN=http://localhost:5173
CACHE_SECONDS=120

# RapidAPI Cricbuzz endpoint:
# https://rapidapi.com/cricketapilive/api/cricbuzz-cricket
CRICKET_API_KEY=your_rapidapi_key_here
RAPIDAPI_HOST=cricbuzz-cricket.p.rapidapi.com

MONGODB_URI=mongodb://amarsisodiya099_db_user:YVS6Tlgba0OxhlARac-kmftate-shard-00-00.cvv57ni.mongodb.net:27017,ac-kmftate-shard-00-01.cvv57ni.mongodb.net:27017,ac-kmftate-shard-00-02.cvv57ni.mongodb.net:27017/?ssl=true&replicaSet=atlas-z8684g-shard-0&authSource=admin&appName=Cluster0
